{% load to_class_name %}
      <table class="fixed-widths">
        <tr>
          <th class="col_archived">A</th>
          <th class="col_filename">Filename</th>
          <th class="col_filetype">Type</th>
          <th class="col_date">Date</th>
          <th class="col_checksum">Checksum</th>
          <th class="col_description">Description</th>
        </tr>
      {% for file in files %}
        <tr>
          <td>{{ file.archive|yesno:"Y," }}</td>
          <td><a class="tooltip" href="{% url "file-download" cls=file|to_class_name|lower pk=file.pk %}">{{ file.filename|truncatechars:48 }}
	        <span class="tooltip-classic">{{ file.filename.split|join:"&nbsp;" }}</span></a></td>
          <td>{{ file.filetype|truncatechars:7 }}</td>
          <td>{{ file.date }}</td>
          <td class="monospace">{{ file.checksum }}</td>
          <td><a class="tooltip static" href="#">{{ file.description|truncatechars:15 }}<span class="tooltip-classic">{{ file.description }}</span></a></td>
        </tr>
      {% endfor %}
      </table>
