{% extends "repository/base.html" %}

{% block title %} Default Genomes List {% endblock %}

{% block content %}

  <p>These default genome codes should only be used for
  rough guidance when starting new projects; for established projects
  you will want to explicitly request
  a <a href="{% url "genome-list" %}">specific genome version</a>.</p>

  {% if synonyms %}
    <table class="fixed-widths">
      <tr>
        <th>Default genome name</th>
        <th>Actual genome code used</th>
        <th>Scientific name</th>
        <th>Version</th>
      </tr>
    {% for syn, gen in synonyms.iteritems %}
      <tr>
        <td>{{ syn }}</td>
        <td>{{ gen.code }}</td>
        <td><i>{{ gen.species.scientific_name }}</i></td>
        <td>{{ gen.version }}</td>
      </tr>
    {% endfor %}
    </table>
    {% include "repository/list_pagination.html" %}
  {% else %}
    <p>No genomes found.</p>
  {% endif %}
{% endblock %}    
